* {
    margin: 0px;
    padding: 0px;
}

.bg-container {
    background-image: linear-gradient(black, rgb(6, 0, 128), black);
    background-size: cover;
    height: 200vh;

}

a {
    list-style-type: none;
    float: left;
    display: block;
    width: 270px;
    line-height: 50px;
    margin: 15px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Young Serif', serif;
    text-decoration: none;

}

a:hover {
    color: aqua;
}

li {
    list-style-type: none;
    
}

.menus {
    width: 900px;
    margin: auto;
    text-align: center;
    position: relative;
    list-style: none;


}


.nav-bar {
    background-color: aliceblue;
    display: block;
    position: sticky;
    top: 0px;
    z-index: 1;

}

#homeSection {
    width: 100%;
    color: white;
    display: block;
}

.my-info {
    margin: 30px;
    position: relative;
    top: 100px;
    left: 100px;
    font-family: sans-serif;
    float: left;
    padding-bottom: 50px;
}

.my-info-great {
    background-color: rgb(21, 117, 85);
    height: 30px;
    width: 90px;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    margin-bottom: 25px;
}
i{
    margin-right: 10px;
}

.my-info-name {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Young Serif', serif;
    font-weight: bold;
}

.my-info-post {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
}

.my-info-contact {
    line-height: 30px;
    padding-right: 10px;
}

.my-own-photo {
    height: 400px;
    width: 400px;
    border-radius: 500px;
    border: 30px solid black;
    position: relative;
    left: 500px;
    top: 50px;

}

.my-photo {}

#aboutSection {
    color: aliceblue;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-sec-head {
    font-size: 45px;
    margin-bottom: 20px;


}

.about-sec-dis {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;




}

.about-sec-skills {

    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 45px;

}

.skill-name {
    line-height: 40px;


}

#homeSection {
    padding-bottom: 80px;
}

#contactusSection {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.contact-main-head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 250px;

}

.contact-us-input-card {
    background-color: white;
    margin-top: auto;
    width: 500px;
    margin-left: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 20px 50px black;


}

input {

    color: aqua;
    width: 370px;
    height: 40px;
    padding: 15px;
    background-color: #dfe3e1;
    border: none;
}

[placeholder] {
    color: aqua;

}

button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: green;
    color: azure;
    border: none;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}

[value] {
    color: aliceblue;
}

label {
    color: rgb(66, 63, 63);
}

.remb {
    position: relative;
    right: 310px;
    cursor: pointer;
}

.remi {
    position: relative;
    right: 150px;
    margin-bottom: 30px;
    cursor: pointer;
}